body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff
}

.wrapper {
  height: 100vh;
}

ul, li {
  list-style: none;
}

.header {
  padding: 0 100px;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(42, 34, 34, 0.6);
  color: #fff;
}
.logo {
  padding-top: 10px;
}
.header .login {
  display: flex;
  text-align: right;
}
.add-book-btn{
  color: #181818;
  border: 1px solid #181818;
  border-radius: 3px;
  padding: 5px;
}

.user-login {
  padding: 0 5px;
}

input {
  width: 150px;
  height: 20px;
  border-radius: 3px;
  /*border-style: none;*/
}

button {
  width: 55px;
  height: 25px;
  border-radius: 3px;
  border-style: none;
  background: #eceef1;
}


/* --- view option --- */

.view-option-control {
  margin: 50px 0 0 90px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
select{
  width: 100px;
  height: 30px;
  border: 1px solid #d7d0d0;
}
.view-option-btn{
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background: none;
  /*padding-left: 15px;*/
  /*width: 30px;*/
  /*height: 30px;*/
}
.search-mybook {
  padding-right: 95px;
}
label {
  font-size: 15px;
  padding-right: 5px;
}

input {
  border-style: none;
  border-radius: 3px;
  border: 1px solid #d7d0d0;
  height: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eceef1;
  min-height: 80vh;
}

.add-book {
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  height: 50%;
  padding-top: 200px;
  border: 1px solid #d7d0d0;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}



.sign-section {
  display: flex;
  flex-flow: row nowrap;
}
.log-out {
  padding-top: 16px;
  padding-left: 20px;
}
