<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOO BOOK base-page</title>
    <link rel="stylesheet" href="./css/my-page2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="app">
    <div class="wrapper">
        <header class="header">
            <h1 class="logo">
                <img src="./asset/mainlogo.png" alt="SOO BOOK" width="250px" height="50px">
                <!--<a href="./index.html">SOO BOOK</a>-->
            </h1>
            
            <div class="sign-section">
                <div class="login">
                    <p> 님</p>
                </div>
                <div class="log-out">
                    <a href="index.html">로그아웃</a>
                </div>
            </div>
            
        </header>

        <div class="view-option-control">
            <div class="view-option">
                <select name="view-select" id="view-select">
                    <option selected>정렬</option>
                    <option value="등록순 보기">등록순 보기</option>
                    <option value="별점순 보기">별점순 보기</option>
                </select>    
                <button class="view-option-btn" @click="clicklistview"><i class="fa fa-th fa-2x" aria-hidden="true"></i></button>
                <button class="view-option-btn" @click="clickdetailview"><i class="fa fa-th-list fa-2x" aria-hidden="true"></i></button>
            </div>
            <div class="search-mybook">
                <label for="search-my-bookshelf" class="search-book">책장 내 검색</label>
                <input type="text" id="search-my-bookshelf" placeholder="도서명을 입력해 주세요">
            </div>
        </div>

        <nav class="menu-colorlist" aria-label="select color list">
          <ul>
            <li><a href="#" class="menu-colorlist__item--purple color-option" role="button" title="purple" aria-label="purple background"></a></li>
            <li><a href="#" class="menu-colorlist__item--pink-sky color-option" role="button" title="pink-sky" aria-label="pink-sky backgound"></a></li>
            <li><a href="#" class="menu-colorlist__item--pink-green color-option" role="button" title="pink-green" aria-label="pink-green background"></a></li>
            <li><a href="#" class="menu-colorlist__item--grey color-option" role="button" title="grey" aria-label="grey background"></a></li>
            <li><a href="#" class="menu-colorlist__item--blue color-option" role="button" title="blue" aria-label="blue background"></a></li>
          </ul>
        </nav>

    
        <main class="my-bookshelf" v-if="is_visible">
            <ul class="book-list" v-for="book in books">
                <li>
                    <img :src="book.src" alt="" width="130px" height="190px" class="book-list-img">
                    <h3 class="title">{{book.title}}</h3>
                    <!--<p class="author">{{book.author}}</p>-->
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </li>
            </ul>
        </main>

        <main class="my-bookshelf" v-if="!is_visible">
            <ul class="book-detail" v-for="book in books">
                <li class="detail">
                    <img :src="book.src" alt="" width="130px" height="190px" class="book-list-img detail-img">
                    <div class="detail-comment">
                        <h3 class="title">{{book.title}}</h3>
                        <p class="author">{{book.author}}</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>    
                        <p class="review">{{book.review}}</p>
                    </div>
                </li>
            </ul> 
        </main>
    

        
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- CDN: Vue -->
    <script src="https://unpkg.com/vue"></script>
    <script src="./DB/mybookshelf.js"></script>
    <script>
        var vm = new Vue ({
            el: '#app',
            data: {
                is_visible: true,
                books: my_bookshelf
            },
            methods: {
                clicklistview: function(){
                    this.is_visible = true;
                },
                clickdetailview: function(){
                    this.is_visible = false
                }
            }
        });
    </script>
    <script src="./js/my-page.js"></script>
</body>
</html>